#root {
  width: 100vw;
}

.category-list-container {
  width: 100%;
  display: flex;
  flex-wrap: row;
}

.category {
  max-height: 100px;
  max-width: 100px;
}

.cat-item {
  max-height: 100px;
  max-width: 100px;
  margin: 10px 20px;
}

.meal-container {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  width: 300px;
  max-width: 300px;
  margin: 10px;
}

.img-container {
  display: inline-block;
}

.meal img {
  max-width: 300px;
}
